@import "../variables";

.navbar {
  border-radius: 0px;
  background-color: $primary;
  height: 50px;
}

.navbar-brand {
  color: white;
  position: fixed;
}

.navbar-nav > li > a {
  color: white;
  font-weight: 200;
}
