.modal {
  position: fixed;
  top: 10% !important;
}

.sebm-google-map-container {
  height: 60%;
}

#spotImage {
  height: 200px;
  width: 200px;
  background-color: #f6f6f6;
  cursor: pointer;
  display: block;
  margin: auto auto 15px auto;
  font-size: 0.5em;
  text-align: center;
  line-height: 200px;
}
