<div *ngIf="!showProgress" class="content">
  <h4>Add Expense</h4>

  <div>
    <input class="form-group form-control form-control-lg" type="text" [(ngModel)]="spending.description"
           placeholder="Description" id="description-text-input">

    <input class="form-group form-control form-control-lg" type="number" [(ngModel)]="spending.amount"
           placeholder="Amount" id="amount-text-input">

    <datepicker [(ngModel)]="spendingDate" [showWeeks]="true"></datepicker>

    <timepicker [(ngModel)]="spendingTime"></timepicker>
  </div>

  <div class="panel-footer">
    <button *ngIf="!showProgress" (click)="onAddClicked()" class="btn btn-primary btn-lg col-xs-12">Add Spending
    </button>
  </div>

</div>
<div *ngIf="showProgress" class="content">
  <div style="text-align: center;">
    <i class="spinner fa fa-circle-o-notch fa-3 fa-spin"></i>
  </div>
</div>

