@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary: #0275d8;

$primaryTransp: transparentize($primary, 0.5);

$background-color: $primaryTransp;

$accent: #607d8b;

$unfocused: #B8B8B8
