@import "app/variables";
@import "glyphicon.css";

body {
  background-color: white;
  min-height: calc(100% - 50px);
}

* {
  font-family: 'Open Sans', sans-serif;
}

.spinner {
  margin: .75em;
  color: $primary;
  text-align: center;
  font-size: 3em !important;
}


.bg-primary {
  background-color: $primary !important;
}

.btn-primary {
  background-color: $primary !important;
  color: white;
}

.btn-outline {
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  border-radius: .3rem;
  border-color: white;
  border-width: 4px;
  border-style: solid;
  background-color: transparent;
  color: white;
}

.btn-outline:hover {
  color: $primary;
  background-color: white;
}

.btn-outline-primary {
  @extend .btn-outline;
  border-color: $primary;
  color: $primary;
}

.btn-outline-primary:hover {
  color: white;
  background-color: $primary;
}

.text-primary {
  @extend .text-primary;
  color: $primary !important;
}
